/.env
/node_modules

/agvw-like/dist
/akashic-server/.env
/akashic-server/dist
/akashic-storage/.env
/akashic-storage/dist
/playlogClient-like/dist
/schema/amflow/client/dist
/schema/amflow/common/dist
/schema/amflow/server/dist
/schema/persist/.env
/schema/persist/dist
/schema/persist/src/generated
/webapp/.env
/webapp/.env.local
/webapp/.next
/webapp/.config
/webapp/public/akashic
/webapp/next-env.d.ts
