MANAGER_PORT=3100
WEBAPP_URL=http:/localhost:3000
HMAC_SECRET=
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA"
S3_ENDPOINT=http://localhost:9000
S3_BUCKET=akashic-content
S3_KEY_PREFIX=cdn/
S3_REGION=us-east-1
S3_FORCE_PATH_STYLE=true
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
